<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title"><%= @event.title %></h1>
      <h2 class="subtitle">Creator: <%= @event.creator.username %></h2>
      <p><%= @event.description %></p>
      <span>Date: <%= @event.date %></span>
    </div>
  </div>
</section>

